@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;
  background-image: url("../../public/assets/images/pattern-lines.svg"),
    url("../../public/assets/images/pattern-squiggly-line-top.svg"),
    url("../../public/assets/images/pattern-squiggly-line-bottom.svg"),
    url("../../public/assets/images/background-mobile.png");

  background-position: top, top right, bottom left, center;
  background-repeat: no-repeat;
  background-size: cover, 100px 120px, 300px, cover;
}

body::after {
  content: '';
  position: fixed;
  top: 55%;
  right: 0%;
  width: 100px;
  transform: translate(50%);
  height: 100px;
  background-image: url("../../public/assets/images/pattern-circle.svg");
  background-size: 100px;
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-20%, -30%);
  width: 100px;
  height: 100px;
  background-image: url("../../public/assets/images/pattern-circle.svg");
  background-position: center left;
  background-size: 100px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@layer components {
  .border-gris {
    border-color: hsl(245, 15%, 58%, 0.8);
  }

  .background-file {
    background-color: hsl(245, 19%, 35%, 0.4);
  }

  .bg-file-icon {
    background-color: hsl(245, 19%, 35%, 0.8);
    border-radius: 8px;
    border: 1px solid hsl(245, 15%, 58%, 0.4);
    width: 40px;
    padding: 7px;
  }

  .input-style {
    display: grid;
    gap: 4px;
  }

  .input-style input {
    border-radius: 8px;
    border: 1px solid hsl(245, 15%, 58%);
    padding: 10px;
    background-color: hsl(245, 19%, 35%, 0.4);
    color: white;
  }

  .btn-submit {
    border-radius: 8px;
    padding: 10px;
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
  }

  .font-color-h1 {
    color: hsl(0, 0%, 100%);
  }

  .font-color-p {
    color: hsl(245, 15%, 58%);
  }

  .bg-ticket {
    background-image: url("../../public/assets/images/pattern-ticket.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}