@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;
  background-image: url("../../public/assets/images/pattern-lines.svg"),
    url("../../public/assets/images/pattern-squiggly-line-top.svg"),
    url("../../public/assets/images/pattern-squiggly-line-bottom.svg"),
    url("../../public/assets/images/background-mobile.png");

  background-position: top, top right, bottom left, center;
  background-repeat: no-repeat;
  background-size: cover, 130px 120px, 300px, cover;
}

body::after {
  content: '';
  position: fixed;
  top: 55%;
  right: 0%;
  width: 100px;
  transform: translate(50%);
  height: 100px;
  background-image: url("../../public/assets/images/pattern-circle.svg");
  background-size: 100px;
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-20%, -30%);
  width: 100px;
  height: 100px;
  background-image: url("../../public/assets/images/pattern-circle.svg");
  background-position: center left;
  background-size: 100px;
  background-repeat: no-repeat;
  border-radius: 50%;
}